<div class="jumbotron jumbotron-fluid animated fadeIn fast">
    <div class="container">
        <h2 class="">TenochLabs R & G</h2>
        <br>

        <div class="center">
            <div class="card-columns">
                <div class="card border-dark mb-3" style="max-width: 18rem;">
                    <div class="card-header">¿Quienes Somos?</div>
                    <div class="card-body text-dark">
                        <!-- <h5 class="card-title">¿Quienes Somos?</h5> -->
                        <p class="card-text">Somos un laboratorio 100% mexicano, comprometidos con brindarte productos de la más alta calidad.</p>
                    </div>

                </div>

                <div class="card border-dark mb-3" style="max-width: 18rem;">
                    <div class="card-header">¿Que vendemos?</div>
                    <div class="card-body text-dark">
                        <!-- <h5 class="card-title">¿Quienes Somos?</h5> -->
                        <p class="card-text">Protegete y a tus seres queridos con nuestra de linea de gel antibacterial Clean & Protect, 70% Alcohol.</p>
                    </div>

                </div>

                <div class="card border-dark mb-3" style="max-width: 18rem;">
                    <div class="card-header">No olvides!!</div>
                    <div class="card-body text-dark">
                        <!-- <h5 class="card-title">¿Quienes Somos?</h5> -->
                        <p class="card-text">Segir las medias de prevencion.

                        </p>
                        <ul>
                            <li>No olvides:</li>
                            <li>Lavarte las manos</li>
                            <li>Usar gel antibacterial</li>
                            <li>Mantener sana distancia</li>
                            <li>Usar tapabocas</li>
                        </ul>
                    </div>

                </div>


            </div>
        </div>

        <img src="assets/img/productos.jpeg" class="img-prod">
    </div>
</div>